<h1>Ola Handlebars</h1>
<b></b>
<p>o primeiro nome do usuario é: {{user.firstName}}</p>
<p>o ultimo nome do usuario é: {{user.lastName}}</p>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eum cupiditate consequuntur minus aperiam dolorum illo facere quidem voluptate expedita, totam suscipit corporis ut provident maxime quod ab. Incidunt, sed.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis iure delectus, modi nobis dicta odit porro, sequi perferendis accusamus aliquam voluptatibus. Quisquam eos culpa accusantium architecto consectetur dolore quis fugiat!
</p>