<nav>
    {{head.item1}}    {{head.item2}}     {{head.item3}}
    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quibusdam vel illo beatae magnam, facere suscipit quaerat, dignissimos nesciunt enim aliquam labore, rem nobis consequuntur dolorum deserunt provident. Incidunt, laboriosam.</P>
</nav>